@model KBS_FunEvents_Web_2024.ViewModel.BookingViewModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>BookingViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BuBuchungsId" />
            <div class="form-group">
                <label asp-for="KdKundenId" class="control-label"></label>
                <input asp-for="KdKundenId" class="form-control" />
                <span asp-validation-for="KdKundenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdEvDatenId" class="control-label"></label>
                <input asp-for="EdEvDatenId" class="form-control" />
                <span asp-validation-for="EdEvDatenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuGebuchtePlaetze" class="control-label"></label>
                <input asp-for="BuGebuchtePlaetze" class="form-control" />
                <span asp-validation-for="BuGebuchtePlaetze" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BuBezahlt" /> @Html.DisplayNameFor(model => model.BuBezahlt)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BuStorniert" /> @Html.DisplayNameFor(model => model.BuStorniert)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BuRechnungErstellt" /> @Html.DisplayNameFor(model => model.BuRechnungErstellt)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
