@model KBS_FunEvents_Web_2024.ViewModels.ChangePasswordModelView

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Dashboard/Index.cshtml";
}

<h1>ChangePassword</h1>

<h4>ChangePasswordModelView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Passwort" class="control-label"></label>
                <input asp-for="Passwort" class="form-control" />
                <span asp-validation-for="Passwort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswortWDH" class="control-label"></label>
                <input asp-for="PasswortWDH" class="form-control" />
                <span asp-validation-for="PasswortWDH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
