@{
    ViewData["Title"] = "BookingDetail";
}
<div class="text-center">

    <style>
        .detail {
            display: inline-block;
            width: 45%; /* Anpassen der Breite nach Bedarf */
            margin-bottom: 10px;
        }

        .label {
            font-weight: bold;
        }
    </style>


    <h1>Details zum gebuchten Event</h1>
    <div class="container">
        <div class="detail">
            <div class="label">Name des Events</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Beschreibung des Events</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Veranstalter</div>
            <div>tester</div>
        </div>
        <div class="detail">
            <div class="label">Kategorie</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Start des Events</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Ende des Events</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Startort</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Zielort</div>
            <div>teste</div>
        </div>

    </div>

    <h1>Buchungsdaten</h1>
    <div class="container">
        <div class="detail">
            <div class="label">Gebuchte Plätze</div>
            <div>teste</div>
        </div>
        <div class="detail">
            <div class="label">Preis pro Teilnehmer</div>
            <div>teste</div>
        </div>
    </div>

    <form method="post" asp-controller="Dashboard" asp-action="Stonierung">
        <input type="submit" value="Stornieren">
        <input type="hidden" name="pId" value="">
    </form>
    </div>