@model HomeController
@{
    ViewData["Title"] = "Bookings";
}
<div class="text-center">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: left;
        }

        .container {
            text-align: left;
        }
    </style>

    <div class="container">
        <h1>Meine aktiven Buchungen</h1>

        <table>
            <thead>
                <tr>
                    <th>Eventbezeichnung</th>
                    <th>Eventbeginn</th>
                    <th>Startort</th>
                    <th>Gebuchte Plätze</th>
                    <th>Anzahl Teilnehmer</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Heli Skiing am Mount Mc Kinley</td>
                    <td>12.03.24 05:00:00 Uhr</td>
                    <td>Flughafen München</td>
                    <td>1</td>
                    @model
                    <button>Zur Buchung</button>
                </tr>
                <!-- Weitere Zeilen können hier hinzugefügt werden -->
            </tbody>
        </table>
        <button>Zurück zum Dashboard</button>

    </div>
</div>
