@{
    ViewData["Title"] = "Contact Page";
}

<div>
    <h1>Kontaktdaten</h1>

    <hr style="border-width: 1px; color: darkgrey;" />

    <p>
        FunEvents GmbH <br />
        Am Fernsehturm 1 <br />
        94034 Passau <br /> <br />
        <img src="~/img/Phone_Icon.png" style="width: 15px; height: 15px"/><b>Tel: </b>+49 0851 123456789 - 0 <br />
        <img src="~/img/Email_Icon.png" style="width: 15px; height: 15px"/><b>Email: </b> info@funevents.de
    </p> 


</div>
