@{
    ViewData["Title"] = "Contact";
}

<div>
    <h1>Kontaktdaten</h1>

    <hr style="border-width: 1px; color: darkgrey;" />

    <p>
        FunEvents GmbH <br />
        Am Fernsehturm 1 <br />
        94034 Passau <br /> <br />
        <img src="~/img/Phone_Icon.png" style="width: 15px; height: 15px"/><a href="tel:+49 0851 123456789 - 0 ">Tel: +49 0851 123456789 - 0 </a><br />
        <img src="~/img/Email_Icon.png" style="width: 15px; height: 15px"/><a href="mailto:info@funevents.de">Email: info@funevents.de</a>
    </p> 


</div>
