@{
    ViewData["Title"] = "GetEvents";
}
@model IEnumerable<KBS_FunEvents_Web_2024.Models.TblEvent>
<div class="text-center">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: left;
        }

        .container {
            text-align: left;
        }
    </style>

    <div class="container">

        @if (Model.Count() == 0)
        {
            <h1>Es sind keine Events vorhanden</h1>
        }
        else
        {   <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Eventbezeichnung</th>
                        <th scope="col">Eventkategorie</th>
                        <th scope="col">Veranstalter</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>

                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemModel => item.EtBezeichnung)
                        </td>
                        <td>
                            @Html.DisplayFor(itemModel => item.EkEvKategorie.EkKatBezeichnung)
                        </td>
                        <td>
                            @Html.DisplayFor(itemModel => item.EvEvVeranstalter.EvFirma)
                        </td>
                        <td>
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="GetEventDetails" asp-route-evId="@item.EtEventId">Details</a>
                        </td>
                    </tr>


                }
                
        
                </tbody>
                </table>

        }



    </div>
</div>