@model IEnumerable<KBS_FunEvents_Web_2024.Models.TblEvent>
@{
    ViewData["Title"] = "GetEvents";
}
<div>
    <h1>
        Aktuelle Events im Angebot
    </h1>

    @if (Model.Any())
    {
        <table class="table notopborder">
            <thead>
                <tr>
                    <th scope="col">Eventbezeichnung</th>
                    <th scope="col">Eventkategorie</th>
                    <th scope="col">Veranstalter</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemModel => item.EtBezeichnung)
                        </td>
                        <td>
                            @Html.DisplayFor(itemModel => item.EkEvKategorie.EkKatBezeichnung)
                        </td>
                        <td>
                            @Html.DisplayFor(itemModel => item.EvEvVeranstalter.EvFirma)
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="EventDetails" asp-route-evId="@item.EtEventId">Details zum Event</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">Es sind keine Events vorhanden</p>
    }
</div>