@{
    ViewData["Title"] = "Informations";
}

<div>
    <h1>Über uns</h1>

    <hr style="border-width: 1px; color: darkgrey;" />

    <h3>Firmengeschichte</h3>

    <p style="text-align: justify">
        Die FunEvents GmbH arbeitet seit ihrer Gründung vor drei Jahren durch
        Herbert Fringsen, einem bekannten Extremsportler, auf dem
        Dienstleistungssektor. Sie bietet diverse Veranstaltungen für
        sportbegeisterte Menschen an, die an Ihre Grenzen stoßen wollen.
    </p>

    <h3>Der Geschäftsführer</h3>

    <p style="text-align: justify">
        Herbert Fringsen studierte Sportwissenschaften und machte 
        Extremsportarten, wie Bungee-Jumping, Downhill-Climbing, Deep-Diving
        und Ähnliches, in Deutschland bekannt. Seit dem Ende seiner aktiven
        Karriere ist Herbert Fringsen als Kommentator im Privatfernsehen tätig. Er
        nutzt seine vielfältigen Kontakte in der Szene und seine medienwirksame
        Popularität, um für sportbegeisterte Mitmenschen eine
        Vermittlungsagentur für Extremsportarten aufzubauen. Abenteuerreisen 
        stehen ebenfalls auf dem Programm.
    </p>
</div>
