@{
    ViewData["Title"] = "Informations";
}

<div>
    <h1>Über uns</h1>

    <hr style="border-width: 1px; color: darkgrey;" />

    <h3>Firmengeschichte</h3>

    <p>
        Die FunEvents GmbH arbeitet seit ihrer Gründung vor drei Jahren durch<br />
        Herbert Fringsen, einem bekannten Extremsportler, auf dem<br />
        Dienstleistungssektor. Sie bietet diverse Veranstaltungen für<br />
        sportbegeisterte Menschen an, die an Ihre Grenzen stoßen wollen.
    </p>

    <h3>Der Geschäftsführer</h3>

    <p>
        Herbert Fringsen studierte Sportwissenschaften und machte<br /> 
        Extremsportarten, wie Bungee-Jumping, Downhill-Climbing, Deep-Diving<br />
        und Ähnliches, in Deutschland bekannt. Seit dem Ende seiner aktiven<br />
        Karriere ist Herbert Fringsen als Kommentator im Privatfernsehen tätig. Er<br />
        nutzt seine vielfältigen Kontakte in der Szene und seine medienwirksame<br />
        Popularität, um für sportbegeisterte Mitmenschen eine<br />
        Vermittlungsagentur für Extremsportarten aufzubauen. Abenteuerreisen<br />
        stehen ebenfalls auf dem Programm.
    </p>
</div>
