<head>
    <style>

    </style>
</head>
<body>
    <h2>Login</h2>
    <br />
    <p>email</p>
    <input class="form-control" style="width:20%" type="text" />
    <p>Password</p>
    <input type="password" class="form-control" style="width:20%">
    <input type="button" value="Create" onclick="location.href='@Url.Action("LoginTest", "Home")'" />

</body>
<script>

</script>
