<head>
    <style>

    </style>
</head>
<body>
    <h2>Login</h2>
    <br />
    <p>email</p>
    <input class="form-control" type="text" />
    <p>Password</p>
    <input type="password" class="form-control" style="width:20%">
</body>
<script>

</script>
