@model KBS_FunEvents_Web_2024.ViewModels.RegistrationModelView

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<h4>RegistrationModelView</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Registration">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nachname" class="control-label"></label>
                        <input asp-for="Nachname" class="form-control" />
                        <span asp-validation-for="Nachname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Vorname" class="control-label"></label>
                        <input asp-for="Vorname" class="form-control" />
                        <span asp-validation-for="Vorname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Strasse" class="control-label"></label>
                        <input asp-for="Strasse" class="form-control" />
                        <span asp-validation-for="Strasse" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Hausnummer" class="control-label"></label>
                        <input asp-for="Hausnummer" class="form-control" />
                        <span asp-validation-for="Hausnummer" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Postleitzahl" class="control-label"></label>
                        <input asp-for="Postleitzahl" class="form-control" />
                        <span asp-validation-for="Postleitzahl" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Ort" class="control-label"></label>
                        <input asp-for="Ort" class="form-control" />
                        <span asp-validation-for="Ort" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Telefon" class="control-label"></label>
                        <input asp-for="Telefon" class="form-control" />
                        <span asp-validation-for="Telefon" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KdEmail" class="control-label"></label>
                        <input asp-for="KdEmail" class="form-control" />
                        <span asp-validation-for="KdEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Passwort" class="control-label"></label>
                        <input asp-for="Passwort" class="form-control" />
                        <span asp-validation-for="Passwort" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PasswortWdh" class="control-label"></label>
                        <input asp-for="PasswortWdh" class="form-control" />
                        <span asp-validation-for="PasswortWdh" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrieren" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

